body {
  font-family: 'Montserrat';
  background-color: rgb(255, 255, 255);
  font-size: 1rm;
  font-weight: 400;
  line-height: 1.5;
  color: #322f56;
  text-align: left;

}
.navbar {
  background-color: #171717;
  border-bottom: 1px solid #333;
}

.nav-item {
  margin-right: 24px;
  font-weight: 200;
}

.nav-item.active a {
  color: #F9B234 !important;
  font-weight: 600;
}

.nav-link span {
  color: #F9B234;
  font-weight: 600;
}

/* Carousel */
.carousel {
  height: 450px;
  background-color: #171717;
  color: white;
}
.carousel-iklan {
  height: 180px;

}

.carousel h1 {
  font-family: 'Lora';
}

.carousel p {
  font-weight: 200;
}

 
.kredit-whyus h3{
  color: #192385;
  font-size: 28px;
}
.selengkapnya{
  margin-top: -110px;
  margin-left: 365px
}

.artikel h3{
  color: #192385;
  font-size: 28px;
}
p .text{
font-size: 12px;
}


.h-100vh{
  height: 100vh !important;
}
.ml-auto, .mx-auto{
  margin-left: auto !important;
}

.mr-auto, .mx-auto{
  margin-right: auto !important;
}
.w-320px{
  max-width: 320px !important;
}
img{
  vertical-align: middle;

}

.font-weight-bold{
  font-weight: 700 !important;
}
